@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #243e63;
}

nav {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container {
  display: flex;
  padding: 0 20px;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    margin: 0 24px;
    text-decoration: none;
    transition: all 300ms;
}

.nav__link:hover {
    text-decoration: underline 2px solid #6415ff;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    padding: 10px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: #fff;
    border: none;
    width: auto;
    transition: all 300ms;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: #4d0ccf;
}

.text--blue {
    color: #6415ff;
}

button {
    cursor: pointer;
    border: none;
}

header {
    min-height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    padding-top: 60px;
    gap: 30px;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__description--title {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.25;
}

.header__description--para {
    text-align: left;
    font-size: 18px;
    margin: 32px 0;
}

.header__description--email {
    position: relative;
    width: 600px;
    height: 100px;
}

.header__email--input {
    position: absolute;
    z-index: 0;
    width: 500px;
    border-radius: 9999px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 150px 25px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    transition: border-color 300ms ease;
}

.header__email--input:hover {
    border-color: rgb(164, 161, 161);
}

.header__email--input:focus {
    border-color: rgb(69, 11, 203);
}

.header__email--btn {
    position: absolute;
    z-index: 1;
    margin: 8px;
    left: 325px;
    top: 1px;
    border-radius: 9999px;
    width: 160px;
    border: none;
    padding: 16px 11px 16px 11px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 300ms ease;
}

.header__email--btn:hover {
    background-color: #4d0ccf;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    opacity: 0.5;
    margin-top: 16px;
    width: clamp(350px, 40%, 500px);
    display: flex;
}

.header__img--wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img {
    width: 90%;
    padding-top: 40px;
}

/*FEATURES*/

#features {
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__title {
    color: #6415ff;
    padding-bottom: 30px;
}

.features__sub-title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.5;
    margin-bottom: 30px;
}

.features__para {
    font-size: 18px;
    color: gray;
    padding-bottom: 50px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    flex-direction: row;
}

.feature__img {
    border: 2px solid rgba(128, 128, 128, 0.264);
    padding: 20px 20px;
    border-radius: 50%;
}

.feature__text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.feature__text--title {
    padding-bottom: 20px;

}

.feature__text--para {
    color: gray;
    line-height: 2.5;
}

/*QUALITY*/

#quality {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
}

.quality__row {
    display: flex;
    padding-bottom: 100px;
}

.quality__text {
    width: 40%;
}

.quality__title {
    color: #6415ff;
    padding-bottom: 20px;
}

.quality__sub-title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.25;
    margin-bottom: 30px;
}

.quality__para {
    font-size: 18px;
    color: gray;
    padding-bottom: 50px;
    line-height: 1.7;
}

.quality__btn {
    border-radius: 9999px;
    width: 160px;
    border: none;
    padding: 12px 12px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 300ms ease;
}

.quality__btn:hover {
    background-color: #4d0ccf;
}

.quality__img--wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.quality__img {
    width: 100%;
    max-width: 550px;
}

/* STEPS */

#steps {
    margin: 
    width: 100%;
    margin-top: 100px;
}

.steps__row {
    display: flex;
    gap: 5em;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
    max-width: 700px;
    padding-top: 40px;
}

.steps__description {
    width: 40%;
}

.steps__title {
    color: #6415ff;
    padding-bottom: 20px;
}

.steps__sub-title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.25;
    margin-bottom: 30px;
}

.steps__list {
    display: flex;
}

.step__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.step__number {
    color: rgb(214, 202, 202);
    font-size: 35px;
    font-weight: 600;
    padding-right: 15px;
    padding-bottom: 20px;
}

.step__title {
    color: rgb(47, 46, 46);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 5px;
}

.step__description {
    line-height: 2;
    padding-bottom: 20px;
    font-size: 14px;
    color: rgb(137, 132, 132);
}

/* VALUES */

#values {
    margin: 
    width: 100%;
    margin-top: 100px;
}

.values__row {
    display: flex;
    margin-bottom: 100px;
}

.values__description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.values__img--wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.values__img {
    width: 100%;
    max-width: 600px;
}

.values__title {
    color: #6415ff;
    padding-bottom: 20px;   
}

.values__sub-title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.25;
    margin-bottom: 30px;
}

.values__para {
    line-height: 1.7;
    padding-bottom: 20px;
    font-size: 18px;
    color: rgb(106, 102, 102);
}

.values__content--list {
    display: flex;
}

.values__content {
    display: flex;
    flex-direction: column;
}

.values__content--upper {
    display: flex;
}

.values__content--icon {
    max-height: 46px;
    border: solid;
    border-color: white;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 10px;
}

.dollar__background {
    background-color: rgba(39, 103, 73, 0.716);
}

.icon__dollar {
    color: rgba(39, 103, 73, 1);
}

.suitcase__background {
    background-color: rgba(245, 44, 44, 0.612);
}

.icon__suitcase {
    color: rgba(155, 44, 44, 1);
}

.values__content--title {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.values__content--para {
    line-height: 1.7;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(106, 102, 102);
    margin-right: 30px;
    margin-left: 3px;
}

.values__btn {
    border-radius: 9999px;
    width: 160px;
    border: none;
    padding: 12px 12px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 300ms ease;
    margin-top: 30px;
}

.values__btn:hover {
    background-color: #4d0ccf;
}

/*PRICING*/

#pricing {
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
}

.pricing__row {
    display: flex;
    margin-bottom: 200px;
}

.pricing__description {
    width: 100%;
}

.pricing__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__title {
    color: #6415ff;
    padding-bottom: 20px;  
}

.pricing__sub-title {
     font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.25;
    margin-bottom: 30px;
}

.pricing__para {
    line-height: 1.7;
    text-align: center;
    padding-bottom: 50px;
    font-size: 18px;
    color: rgb(106, 102, 102);
    width: 100%;
    max-width: 600px;
}






.pricing__plans {
    display: flex;
}

.pricing__plans {
    gap: 2em;
}

.plan__stripe--individuals {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__individuals {
    position: relative;
}

.plan__stripe--enterprise {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__enterprise {
    position: relative;
}

.pricing__plan--list {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    border: solid invisible;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
}

.plan__top, 
.plan__bottom, 
.plan__features {
    padding: 10px 20px;
    text-align: center;
}

.plan__individuals--middle,
.plan__enterprise--middle {
  border-top: 1px solid rgba(187, 185, 185);
  border-bottom: 1px solid rgb(187, 185, 185)
}

.plan__features--designation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.plan__features {
    margin: 0;
    padding: 20px 0;
}

.plan__title {
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    margin: 4px 0;
    line-height: 1.625;
}

.plan__frequency {
    line-height: 1.625;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.feature__title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    padding-bottom: 10px;
}

.feature {
    color: rgb(136, 132, 132);
    font-size: 16px;
    line-height: 2.5;
}

.plan__btn {
    border-radius: 9999px;
    width: 160px;
    border: none;
    padding: 12px 12px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    margin: 30px 0;
}

.plan__btn:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.individuals__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.business__btn {
    color: #6415ff;
    background-color: #f7fafc;
}

.enterprise__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__business {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__business--title, 
.plan__business--price,
.plan__business--frequency,
.business__feature,   
.business__feature--title {
    color: #f7fafc;
}

.plan__business--middle {
    border-top: 2px solid #6aaedc9d;
    border-bottom: 2px solid #6aaedc9d;
}


/* TESTIMONIALS */

#testimonials {
    margin: 
    width: 100%;
}

.testimonials__row {
    display: flex;
    margin-bottom: 100px;
}

.testimonials__row {
    width: 100%;
    display: flex;
}

.testimonials__img--wrapper {
    width: 60%;
}

.testimonials__img {
    width: 100%;
    max-width: 550px;
}

.testimonials__description {
    width: 50%;
}

.testimonials__text {
    text-align: left;
    
}

.testimonials__title {
    color: #6415ff;
    padding-bottom: 20px;  
}

.testimonials__sub-title {
     font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    line-height: 1.25;
    margin-bottom: 30px;
    color:rgb(47, 46, 46)
}

.testimonials__para {
    line-height: 1.7;
    text-align: center;
    padding-bottom: 50px;
    font-size: 18px;
    color: rgb(106, 102, 102);
    width: 100%;
    max-width: 600px;
}

.fa-star {
    color: rgba(246, 173, 85);
    margin-bottom: 30px;
}

.user__testimony--title {
    padding-bottom: 10px;
}

.user__testimony--para {
    line-height: 1.4;
    color: gray;
    padding-bottom: 30px;
}

.user__profile {
    display: flex;
}

.user__img--wrapper {
    
}